*{
    box-sizing: border-box;
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  #root {
    height: 100%;
  }

  h1 {
    color: cornsilk;
  }
  
  .parent {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    background-color: #17426d;
  };

/* 
No borrar la clase sarasa porque deja de funcionar la clase que le sigue. Cosa de Mandinga.
*/
  .sarasa {
    flex: 1;
    background-color: blue;
  }

  .main {
    display: flex;
    flex-direction: row;
    /* flex: 11; */
  };

/* 
No borrar la clase sarasa porque deja de funcionar la clase que le sigue. Cosa de Mandinga.
*/
.sarasa2 {
    flex: 1;
    background-color: blue;
  }

  .sidebar {
    flex: 1;
  }

  .content {
    flex: 1;
  }