.recipeCardParent {
    padding: 10px;
}
  
.recipeCardHeader {
};

/*  Cosa de Mandinga!
    Si se borra la clase sarasa3 deja de funcionar la clase siguiente (recipeCardMain) */
.sarasa3 {
    background-color: #fff666;
}

.recipeCardMain {
    display: flex;
    padding: 10px;
};

/*  Cosa de Mandinga! Si se borra la clase sarasa deja de funcionar la clase siguiente */
    .sarasa4 {
        background-color: #fff666;
}

.recipeCardLeft {
    padding: 5px;
}

/*  Cosa de Mandinga! Si se borra la clase sarasa deja de funcionar la clase siguiente */
.sarasa5 {
    background-color: #fff666;
}

.recipeCardRight {
    padding: 5px;
};